### Lists: This notebook is used to learn lists

In [1]:
# This is a list of numbers
first=[10,20,30,40]
#This is a list of strings
second=["Amazon", 'Flipkart', "Jabong", 'Myntra']
print(first)
print(second)

[10, 20, 30, 40]
['Amazon', 'Flipkart', 'Jabong', 'Myntra']

### The elements of a list don’t have to be the same type. The following list contains a string, a float, an integer, and (amazingly) another list

In [2]:
third=["hello", 2.0, 5, [10, 20]]
print(third)

['hello', 2.0, 5, [10, 20]]

### A list within another list is said to be nested. 
### Finally, a list with no elements is called an empty list, It is denoted [ ].

In [3]:
empty=[]
print(empty)

[]

In [4]:
print(first[-1], second[1], third[2])

40 Flipkart 5

In [5]:
# Giving float as an index will give an error
print(first[1.0])

TypeError: list indices must be integers or slices, not float

### using Loop Variable: there are many ways

In [6]:
horsemen = ["war", "famine", "pestilence", "death"] 
# First way
for i in [0, 1, 2, 3]: 
    print(horsemen[i])

war
famine
pestilence
death

In [7]:
#Second way
for h in horsemen: 
    print(h)

war
famine
pestilence
death

In [8]:
#Third way
for i in range(len(horsemen)): 
    print(horsemen[i])

war
famine
pestilence
death

In [9]:
#Fourth Way
for (i, v) in enumerate(horsemen):  # enumerate gives both index and value
    print(i, v)

0 war
1 famine
2 pestilence
3 death

### Conditions in Lists

In [10]:
if 'war' in horsemen:
    print("It is there")

It is there

In [11]:
if 50 in first:
    print('It is there')

### Accesing Nested Data

In [12]:
students = [ 
    ("John", ["CompSci", "Physics"]), 
    ("Vusi", ["Maths", "CompSci", "Stats"]), 
    ("Jess", ["CompSci", "Accounting", "Economics", "Management"]), 
    ("Sarah", ["InfSys", "Accounting", "Economics", "CommLaw"]), 
    ("Zuki", ["Sociology", "Economics", "Law", "Stats", "Music"]) ] 
# Count how many students are taking CompSci 
counter = 0 
for (name, subjects) in students: 
    if "CompSci" in subjects: 
        counter += 1
print("The number of students taking CompSci is", counter)

The number of students taking CompSci is 3

### Slicing the Data

In [13]:
a_list = ["a", "b", "c", "d", "e", "f"] 
print(a_list[1:3]) 
print(a_list[:4])
print(a_list[3:])
print(a_list[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

### The + operator concatenates lists
### The * operator repeats a list a given number of times

In [14]:
fourth=first+second
print(fourth)
fifth=first*3
print(fifth)

[10, 20, 30, 40, 'Amazon', 'Flipkart', 'Jabong', 'Myntra']
[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

### Mutating the List (changing element of a List)

In [15]:
my_list = ["T", "E", "S", "T"] 
my_list[2] = "X" #Changing an element
print(my_list)

['T', 'E', 'X', 'T']

In [16]:
my_list[1:3]=['O', 'S']
print(my_list)

['T', 'O', 'S', 'T']

In [17]:
my_list[1:3]=[ ]  #Assigning empty list will remove elements
print(my_list)

['T', 'T']

In [18]:
my_list[1:1]=['O', 'S'] #Adding elements to lists
print(my_list)

['T', 'O', 'S', 'T']

In [19]:
del my_list[1] #Delete first elements to lists
print(my_list)

['T', 'S', 'T']

### Objects and references

In [20]:
#For Strings
a_string = "banana" 
b_string = "banana"
a_list=[1,2,3]
b_list=[1,2,3]
print(a_string is b_string) 
print(a_list is b_list)

True
False

In [21]:
#Aliasing an Object
b_list=a_list
print(a_list is b_list)

True

#### Aliasing an Object

In [22]:
#Changes in b will make changes in a as well
b_list[1]=4
print(a_list)

[1, 4, 3]

#### Cloning an Object

In [23]:
c_list=a_list[:]
print(c_list)

[1, 4, 3]

In [24]:
# Changing c_list won't affect a_list
c_list[1]=2
print(c_list)
print(a_list)

[1, 2, 3]
[1, 4, 3]

### List Methods

In [25]:
# Appending the List
c_list.append(4)
print(c_list)

[1, 2, 3, 4]

In [26]:
# Inserting an element 5 at position 2
c_list.insert(2,5)
print(c_list)

[1, 2, 5, 3, 4]

In [27]:
# Extending the list
c_list.extend([5,6])
print(c_list)

[1, 2, 5, 3, 4, 5, 6]

In [28]:
# Counting the number of times a particular element
print(c_list.count(15))

0

In [29]:
#Finding index of first 5 in the list
print(c_list.index(5))

2

In [30]:
#reversing the List
c_list.reverse()
print(c_list)

[6, 5, 4, 3, 5, 2, 1]

In [31]:
#Sorting the list
c_list.sort()
print(c_list)

[1, 2, 3, 4, 5, 5, 6]

In [32]:
#Removing the first 5 in the list
c_list.remove(5)
print(c_list)

[1, 2, 3, 4, 5, 6]

### Function can return a list

In [33]:
def is_prime(x):
    if x < 2:
        return False
    else:
        for n in range(2,x):
            if x % n == 0:
               return False
        return True
def primes_lessthan(n): 
    """ Return a list of all prime numbers less than n. """ 
    result = [] 
    for i in range(2, n): 
        if is_prime(i): 
            result.append(i) 
    return result
r=primes_lessthan(100)
print(r)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Lists and Strings

In [34]:
song = "The rain in Spain..." 
words = song.split() 
print(words)

['The', 'rain', 'in', 'Spain...']

In [35]:
print(song.split("ai"))

['The r', 'n in Sp', 'n...']

In [36]:
glue = ";" 
print(glue.join(words)) 
print(" --- ".join(words))

The;rain;in;Spain...
The --- rain --- in --- Spain...

#### List and Range

In [37]:
xs = list("Happy New year")
print(xs)
print("".join(xs))

['H', 'a', 'p', 'p', 'y', ' ', 'N', 'e', 'w', ' ', 'y', 'e', 'a', 'r']
Happy New year

In [38]:
# Call in the promise, to produce a list. 
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]