### Matrices

In [1]:
mx = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 
print(mx[1])

[4, 5, 6]

In [2]:
print(mx[2][1])

8

### Tuples

##### Tuples are used for grouping data using parentheses
##### Tuples are useful for representing what other languages often call records .There is no description of what each of these fields means.
##### Tuples support the same sequence operations as strings. 
##### But if we try to use item assignment to modify one of the elements of the tuple, we get an error, i.e. 
### They are immutable like strings

In [3]:
records = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print (records)

('Julia', 'Roberts', 1967, 'Duplicity', 2009, 'Actress', 'Atlanta, Georgia')

In [4]:
#This way of assignment is not allowed and it will give error
records[4]="Eat Pray Love"
print(records)

TypeError: 'tuple' object does not support item assignment

In [5]:
# This is the way to modify the tuple by assigning again
records= records[:3] + ("Eat Pray Love", 2010) + records[5:]
print(records)

('Julia', 'Roberts', 1967, 'Eat Pray Love', 2010, 'Actress', 'Atlanta, Georgia')

In [6]:
## To create a tuple with a single element, we have to include the final comma, 
##because without the final comma, Python treats the (5) below as an integer in parentheses
tup=(5,)
type(tup)

tuple

### Tuple Packing and Unpacking

In [7]:
## Tuple Packing
b = ("Bob", 19, "CS") 
## Tuple Unpacking
(name, age, studies) = b # tuple unpacking
print(name, age, studies)

Bob 19 CS

### Tuples can be returned from a function

In [8]:
def f(r): 
    """ Return (circumference, area) of a circle of radius r """ 
    c = 2 * 3.14 * r 
    a = 3.14 * r * r 
    return (c, a)
print(f(4))

(25.12, 50.24)

## Dictionaries
#### Dictionaries are yet another kind of compound type. 
#### Python’s built-in mapping type to map keys (immutable type), to values, (heterogeneous), 
#### just like the elements of a list or tuple. 
#### One way to create a dictionary is to start with the empty dictionary and add key:value pairs. 
#### The empty dictionary is denoted {}:

In [9]:
eng2sp = {} 
eng2sp["one"] = "uno" 
eng2sp["two"] = "dos"
print(eng2sp)

{'one': 'uno', 'two': 'dos'}

#### Another Example

In [10]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse) 
print(purse['candy'])

{'money': 12, 'candy': 3, 'tissues': 75}
3

In [11]:
purse['candy'] = purse['candy'] + 2
print(purse)

{'money': 12, 'candy': 5, 'tissues': 75}

### Dictionary Operations

In [12]:
# Deleting an item
inventory = {"apples": 430, "bananas": 312, "pears": 217}
del inventory["pears"] 
print(inventory)

{'apples': 430, 'bananas': 312}

In [13]:
# Adding an item
inventory["pears"] = 0 
print(inventory)

{'apples': 430, 'bananas': 312, 'pears': 0}

In [14]:
# Changing an item
inventory["bananas"] += 200
print(inventory)

{'apples': 430, 'bananas': 512, 'pears': 0}

In [15]:
# length of dictionary
print(len(inventory))

3

In [16]:
# Making Aliases and Copy
first=inventory
second=inventory.copy()

In [17]:
# Now changing both and looking at effect on original
first["pears"]=300
print(inventory)
second["pears"]=200
print(inventory)
print(first)
print(second)

{'apples': 430, 'bananas': 512, 'pears': 300}
{'apples': 430, 'bananas': 512, 'pears': 300}
{'apples': 430, 'bananas': 512, 'pears': 300}
{'apples': 430, 'bananas': 512, 'pears': 200}

#### Example to Count names in list

In [18]:
counts = dict()
names = ['Raj', 'Ramesh', 'Raj', 'Zeenat', 'Ram']
for name in names :
    if name not in counts:
        counts[name] = 1
    else :
        counts[name] = counts[name] + 1
print(counts)

{'Raj': 2, 'Ramesh': 1, 'Zeenat': 1, 'Ram': 1}

#### Example Fibonacci Series

In [92]:
alreadyknown = {0: 0, 1: 1}

def fib(n): 
    #new_value=0
    if n not in alreadyknown: 
        new_value = fib(n-1) + fib(n-2)
        alreadyknown[n]=new_value
    return alreadyknown[n]
print(fib(10))

55